h1 {
    color: #355e3b;
}

#addMovie {
    color: #355e3b;
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid #355e3b;
    padding: 10px;
    background-color: white;
}

body {
    background-color:#D3D3D3;
}